jobs:
  test:
    name: Android Test on node 11.x and ubuntu-latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [11.x]
    steps:
      working-directory: ./HelloAyame
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install and react-native link
        run: |
          yarn install
          $(npm bin)/react-native link --platforms android
      - name: gradlew build
        run: |
          cd android/
          ./gradlew check
