name: HelloSora-Android-Test

on: push
jobs:
  test:
    name: Android-Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install and react-native link
        run: |
          yarn install
          $(npm bin)/react-native link --platforms android
        working-directory: ./HelloSora
      - name: gradlew check
        run: |
          cd android/
          ./gradlew check
        working-directory: ./HelloSora
